In [12]:
import subprocess
import csv
import pandas as pd

# SSH connection details
hostname = "your_remote_host"
username = "your_username"
sinfo_command = 'sinfo --noheader --format="%P,%C" | awk -F\'[,/]{1}\' \'{print $1","$2","$3","$4","$5}\''

#ssh_command = f'ssh {username}@{hostname} "{sinfo_command}"'

ssh_command =  f'ssh simlab "{sinfo_command}"'

In [13]:
result = subprocess.run(ssh_command, shell=True, stdout=subprocess.PIPE, stderr=subprocess.PIPE, text=True)

output = result.stdout.strip()
error = result.stderr.strip()

In [20]:
data = []
for line in output.splitlines():
    data.append(line.split(" "))

df = pd.DataFrame(data, columns=["PARTITION", "CPUS_A", "CPUS_I", "CPUS_O", "CPUS_T"])

for col in ["CPUS_A", "CPUS_I", "CPUS_O", "CPUS_T"]:
    df[col] = pd.to_numeric(df[col])


df

  PARTITION  CPUS_A  CPUS_I  CPUS_O  CPUS_T
0     defq*     138     118      44     300
1       gpu     276     164      88     528
2    shortq     138     118      44     300
3     longq     138     118      44     300
4      visu       0      44       0      44
5   special     370     282      88     740